.outer {
    display: flex;
    flex-direction: row;
    
}

.right {
    padding-left: 110px;
    padding-top: 20px;
}

/* .right {
    margin-right: 110px;
} */

.left {
    margin-left: 110px;
}
/* 
.homepage {
    background-image: url("../images/fifa.png");
} */

.homepage {
    position: absolute;
    right: 150px;
    top: 100px;
}

.main {
    /* background-image: url(../images/fifa1.png); */
    background-size: cover;
}

.center-div {
    align-items: flex-end;
    margin-right: 80%;
}

.player-image {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-div {
    position: absolute;
    top: 42px;
} 
@media only screen and (max-width: 1000px) {
    .outer {
        flex-direction: column;
    }
    .right {
        margin-top: 30px;
        margin-left: 440px;
    }
}

@media only screen and (max-width: 1100px) {
    .outer {
        flex-direction: column;
    }
    .right {
        margin-top: 30px;
        margin-left: 340px;
    }
}
